<script type="text/javascript">
    const __prefix = 'language-'
    const __tabs__nav__height = '40px'

    const __regularExp = new RegExp(`\\b${__prefix}\\w+\\b`)

    const __label = {
        'language-java': 'Java',
        parse: function (clazz) {
            return this[clazz] ?? clazz.slice(__prefix.length)
        }
    }

    $('.__tabs').each(function () {
        let flag = true
        const containers = []
        $(this).find(`code[class*=${__prefix}]`).each(function () {
            const matched = $(this).attr('class').match(__regularExp)
            if (!matched || matched.length != 1) {
                flag = false
            }
            const container = $(this).parent()
            if (container.prop('tagName') !== 'PRE') {
                flag = false
            }
            if (!flag) return false
            containers.push({
                label: __label.parse(matched[0]),
                dom: container
            })
        })
        if (!flag || !containers.length) return true
        const header = $('<ul>', {
            class: '__tabs__nav-wrap',
            css: {
                listStyle: 'none',
                userSelect: 'none',
                height: __tabs__nav__height,
                fontSize: 0,
                margin: 0,
                padding: 0
            }
        })
        let actived;
        $.each(containers, function (index, container) {
            const item = $('<li>', {
                text: container.label,
                class: index ? '__tabs__item' : '__tabs__item is-active',
                css: {
                    display: 'inline-block',
                    position: 'relative',
                    lineHeight: __tabs__nav__height,
                    fontSize: '16px',
                    margin: 0,
                    padding: '0 8px'
                }
            })
            container.dom.css('margin-top', 0)
            if (index) container.dom.hide()
            else actived = item
            item.click(function () {
                if (actived == item) return
                $.each(containers, (_, container) => container.dom.hide())
                actived.removeClass('is-active')
                item.addClass('is-active')
                actived = item
                container.dom.show()
            })
            header.append(item)
        })
        $(this).prepend(header)
    })
</script>

<style>
    .__tabs {
        border: 1px solid #e5e5e5;
        border-radius: .5rem;
        overflow: hidden;
    }

    .__tabs__nav-wrap {
        color: #3c3c434d;
    }

    .__tabs__item {
        padding: 0 12px !important;
    }

    .__tabs__item.is-active,
    .__tabs__item:hover {
        color: #262626;
    }

    .__tabs__item~.__tabs__item:before {
        background-color: #0000000d;
        content: " ";
        height: 12px;
        left: 0;
        position: absolute;
        top: calc(50% - 6px);
        width: 1px;
    }
</style>